<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<style>
/* source from LabKey demo: https://github.com/LabKey/movies/blob/master/resources/views/detail.html */
    ARTICLE { font-family:Verdana, Arial, sans-serif;}
    ARTICLE H1 {font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; font-weight:normal; font-size:20pt;}
    SPAN.ghost {color:#cccccc;}
    DIV.poster {float:left; padding-right:10pt;}
    DIV.clear {clear:both;}
    SPAN.nobr { white-space: nowrap;}

    th {  background: 	#E3E6EA;
          color: 				black;
          font-weight:  bold;
          padding-left: 2px;
         }
    
</style>


<div id="content"></div>

<script type="text/babel">

window.SeriesBox = React.createClass(
  {
  render: function() {

    return (
      <div className="media_lot title-overview">
        <h1>Lot Information</h1>
        <LotInformation  media_lot={this.props} />
        <RecipeLotParts recipe_lot_parts={this.props.recipe_lot_parts} />
      <br/>
      <a href={this.props._labkeyurl_container}>Home</a>
      </div>
    );
  }
});

var MediaLotHeaders =  React.createClass({
  render: function() {
    return (
      <tr>
      {this.props.media_lot_display_items.map(function(media_lot_display_item, i){
          return (<th key={i}>{media_lot_display_item.title }</th>);
       })
      }
      </tr>
     );
  }
});

var MediaLotCell = React.createClass({

  render: function() {
    return (
      <td>{this.props.media_lot_display_item.url_method ? <LinktoLabkeyItem {...this.props}/> : <LabkeyData {...this.props} /> } </td>
      );
  }
});
var LinktoLabkeyItem = React.createClass({

  render: function() {
    return (
      <a href={this.props.media_lot[this.props.media_lot_display_item.url_method]}><LabkeyData {...this.props} /></a>
      );
  }
});
var LabkeyData = React.createClass({

  render: function() {
    return (
      <div>
      {this.props.media_lot[this.props.media_lot_display_item.data_method] }
      </div>
      );
  }
});


var LotInformation = React.createClass(
{
  render: function() {

    return (
  <div>
    <h1 className="header"><span className="itemprop">Lot Number: {this.props.media_lot.lot_number}</span></h1>
      <table>
      <MediaLotHeaders media_lot_display_items={media_lot_display_items} />
      <tr>
      {media_lot_display_items.map(function(media_lot_display_item, i){
          return <MediaLotCell key={i} media_lot_display_item={media_lot_display_item} media_lot={media_lot}/>;
       })
      }
      </tr>
     </table>
  </div>
    );
  }
});

var RecipeLotParts = React.createClass({
  render: function() {
    return (
      <div>
        <h4 className="txt-block">Recipe Parts:</h4>
        <table className="recipeLotParts">
        <RecipeLotPartColumnHeaders /> 
        {this.props.recipe_lot_parts.map(function(recipe_lot_part){
            return <RecipeLotPartRow key={recipe_lot_part.recipe_lot_part_id} recipe_lot_part={recipe_lot_part} />;
         })
        }
        </table>
      </div>
      );
  }
});
var RecipeLotPartColumnHeaders =  React.createClass({
  render: function() {
    return (
      <tr>
        <th>Component Lot Ingredient</th>
        <th>Component Lot Number</th>
        <th>Final Concentration</th>
        <th>Units</th>
        <th>Final Volume</th>
        <th>Description</th>
      </tr>
      );
  }
});

var RecipeLotPartRow = React.createClass({
  render: function() {
    return (
      <tr>
        <td>{this.props.recipe_lot_part['component_lot_number/media_ingredient_id/name_tag']}</td>
        <td>{this.props.recipe_lot_part.component_lot_number}</td>
        <td>{this.props.recipe_lot_part.final_concentration}</td>
        <td>{this.props.recipe_lot_part.units}</td>
        <td>{this.props.recipe_lot_part.final_volume}</td>
        <td>{this.props.recipe_lot_part.description}</td>
      </tr>
      );
  }
});




</script>
<script type="text/javascript">
var lot_number = LABKEY.ActionURL.getParameter("pk");
var media_lot = null;
var recipe_lot_parts = null;
var media_lot_display_items = lotDisplayInfo();

function loadMediaLotsQueryResult(result)
{
    media_lot = result.rows[0];
    renderIfReady();
}
function loadReciepeLotQueryResult(result)
{        
    recipe_lot_parts = result.rows;
    renderIfReady();
}
function renderIfReady()
{
    if (null == media_lot || null == recipe_lot_parts)
        return;
    media_lot.recipe_lot_parts = recipe_lot_parts;   
    React.render(React.createElement(SeriesBox, media_lot), $('#content')[0]);
}
function onFailure()
{
    alert('fail');
}

function lotDisplayInfo() {
  return [
          {data_method:'lot_number', title:"Lot number", url_method:'_labkeyurl_lot_number'},
          {data_method:'part_number', title:"Part number" },
          {data_method:'made_on_date', title:"Made on date"},
          {data_method:'expiration_date', title:"Expiration date" },
          {data_method:'media_ingredient_id/name_tag', title:"Media Ingredient Name", url_method:'_labkeyurl_media_ingredient_id'},
          {data_method:'media_recipe_id', title:"Media recipe", url_method:'_labkeyurl_media_recipe_id'},
          {data_method:'media_vendor_id/name', title:"Media vendor id" },
          {data_method:'final_volume', title:"Final volume" },
          {data_method:'user_initials', title:"User initials" },
          {data_method:'notebook_number', title:"Notebook number" },
          {data_method:'page_number', title:"Page number" },
          {data_method:'description', title:"Description" }
        ];
}
Ext4.onReady(function()
{
    if (lot_number)
    {
      
// Extract the Lot info
        LABKEY.Query.selectRows({
            schemaName: 'lists',
            queryName: 'media_lots',
            columns: ['*', 'media_vendor_id/name', 'media_recipe_id/recipe_name', 'media_ingredient_id/name_tag'],
            filterArray: [LABKEY.Filter.create('lot_number', lot_number, LABKEY.Filter.Types.EQUAL)],
            success: loadMediaLotsQueryResult,
        });

        LABKEY.Query.selectRows({
            schemaName: 'lists',
            queryName: 'recipe_lot_parts',
            columns: ['*', 'component_lot_number/media_ingredient_id/name_tag'],
            filterArray: [LABKEY.Filter.create('media_lot_number', lot_number, LABKEY.Filter.Types.EQUAL)],
            success: loadReciepeLotQueryResult,
        });     
    }
});
</script>
