<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<style>
/* source from LabKey demo: https://github.com/LabKey/movies/blob/master/resources/views/detail.html */
    ARTICLE { font-family:Verdana, Arial, sans-serif;}
    ARTICLE H1 {font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; font-weight:normal; font-size:20pt;}
    SPAN.ghost {color:#cccccc;}
    DIV.poster {float:left; padding-right:10pt;}
    DIV.clear {clear:both;}
    SPAN.nobr { white-space: nowrap;}

    th {  background: 	#E3E6EA;
          color: 				black;
          font-weight:  bold;
          padding-left: 2px;
         }
    
</style>


<div id="content"></div>

<script type="text/babel">

window.SeriesBox = React.createClass(
  {
  render: function() {

    return (
      <div className="media_lot title-overview">
        <h1>Lot Information</h1>
        <LotInformation  media_lot={this.props} />
        <RecipeLotParts recipe_lot_parts={this.props.recipe_lot_parts} />
      </div>
    );
  }
});



var LotInformation = React.createClass(
{
  render: function() {
    return (
  <div>
    <h1 className="header"><span className="itemprop">Lot Number: {this.props.media_lot.lot_number}</span></h1>
    <div className="txt-block">
        <h4 className="inline">Ingredient:</h4>
        {this.props.media_lot['media_ingredient_id/name_tag'] }
    </div>
    <div className="txt-block">
        <h4 className="inline">Vendor:</h4>
        {this.props.media_lot['media_vendor_id/name']}
    </div>

    <div className="txt-block">
        <h4 className="inline">Recipe:</h4>
        {this.props.media_lot.media_recipe_id || 'Component Only no recipe name'}
    </div>
    
    <div className="txt-block">
        <h4 className="inline">Part Number:</h4>
        {this.props.media_lot.part_number}
    </div>
  </div>
    );
  }
});

var RecipeLotParts = React.createClass({
  render: function() {
    return (
      <div>
        <h4 className="txt-block">Recipe Parts:</h4>
        <table className="recipeLotParts">
        <RecipeLotPartColumnHeaders /> 
        {this.props.recipe_lot_parts.map(function(recipe_lot_part){
            return <RecipeLotPartRow key={recipe_lot_part.recipe_lot_part_id} recipe_lot_part={recipe_lot_part} />;
         })
        }
        </table>
      </div>
      );
  }
});
var RecipeLotPartColumnHeaders =  React.createClass({
  render: function() {
    return (
      <tr>
        <th>Component Lot Number</th>
        <th>Final Concentration</th>
        <th>Final Volume</th>
        <th>Description</th>
      </tr>
      );
  }
});

var RecipeLotPartRow = React.createClass({
  render: function() {
    return (
      <tr>
        <td>{this.props.recipe_lot_part.component_lot_number}</td>
        <td>{this.props.recipe_lot_part.final_concentration}</td>
        <td>{this.props.recipe_lot_part.final_volume}</td>
        <td>{this.props.recipe_lot_part.description}</td>
      </tr>
      );
  }
});




</script>
<script type="text/javascript">
var lot_number = LABKEY.ActionURL.getParameter("pk");
var media_lot = null;
var recipe_lot_parts = null;

function loadMediaLotsQueryResult(result)
{
    media_lot = result.rows[0];
    debugger;
    renderIfReady();
}
function loadReciepeLotQueryResult(result)
{
    recipe_lot_parts = result.rows;
    renderIfReady();
}
function renderIfReady()
{
    if (null == media_lot || null == recipe_lot_parts)
        return;
    media_lot.recipe_lot_parts = recipe_lot_parts;   
    React.render(React.createElement(SeriesBox, media_lot), $('#content')[0]);
}
function onFailure()
{
    alert('fail');
}
Ext4.onReady(function()
{
    if (lot_number)
    {
      
// Extract the Lot info
        LABKEY.Query.selectRows({
            schemaName: 'lists',
            queryName: 'media_lots',
            columns: ['*', 'media_vendor_id/name', 'media_recipe_id/recipe_name', 'media_ingredient_id/name_tag'],
            filterArray: [LABKEY.Filter.create('lot_number', lot_number, LABKEY.Filter.Types.EQUAL)],
            success: loadMediaLotsQueryResult,
        });
        LABKEY.Query.selectRows({
            schemaName: 'lists',
            queryName: 'recipe_lot_parts',
            columns: '*',
            filterArray: [LABKEY.Filter.create('media_lot_number', lot_number, LABKEY.Filter.Types.EQUAL)],
            success: loadReciepeLotQueryResult,
        });     
    }
});
</script>
